@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0d9488;
  --color-secondary: #fb7185;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
